<mat-card class="card" appearance="outlined">
  <img
    mat-card-image
    (click)="navigateDetails(car().id)"
    [src]="car().images[0]"
    [alt]="car().model"
    class="image"
  />

  <mat-card-content>
    <div class="details">
      <div>
        <p class="description">{{ car().brand }} {{ car().model }}</p>

        <p class="description">{{ car().price | currency : "EUR" }}</p>
      </div>

      <mat-card-actions>
        <button
          mat-fab
          aria-label=" icon button with a heart icon"
          class="favoriteBtn"
          (click)="handleAddFavorites(car())"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </div>

    <div class="order">
      <button mat-flat-button (click)="goToOrders(car().id)">make order</button>
    </div>
  </mat-card-content>
</mat-card>
