<footer>
  <div class="container">
    <div class="links">
      <ul>
        <li>
          <a routerLink="/shopping" routerLinkActive="active" class="homeIcon"
            >Cars for sale
          </a>
        </li>

        <li>
          <a routerLink="/newCars" routerLinkActive="active" class="homeIcon"
            >New cars
          </a>
        </li>

        <li>
          <a routerLink="/create" routerLinkActive="active" class="homeIcon"
            >Sell your car
          </a>
        </li>
      </ul>

      <ul>
        <li>
          <a routerLink="/favorite" routerLinkActive="active" class="homeIcon"
            >Favorites
          </a>
        </li>

        <li></li>
        <li>
          <a routerLink="/account" routerLinkActive="active" class="homeIcon"
            >Account
          </a>
        </li>

        <li>
          <a routerLink="/contact" routerLinkActive="active" class="homeIcon"
            >Contact us
          </a>
        </li>
      </ul>
    </div>
    <div class="social">
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/tamara-najdovska/"
            target="_blank"
            ><img src="logos/linkedin.png" alt="" srcset=""
          /></a>
        </li>
        <li>
          <a href="https://github.com/tamaranaj" target="_blank"
            ><img src="logos/github.png" alt="" srcset=""
          /></a>
        </li>
        <li><img src="logos/x.png" alt="" srcset="" /></li>
        <li><img src="logos/instagram.png" alt="" srcset="" /></li>
      </ul>
    </div>
    <div class="logo">
      <img src="file.png" alt="logo" width="150px" />
    </div>
  </div>
</footer>
