.example-spacer {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
   

    
a:hover{
    text-decoration: 4px underline rgba(32, 32, 237, 0.53);
   
}
a{
    text-decoration: none;
    color: whitesmoke;
}
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
    align-items: center;
    background-color: rgb(8, 12, 26);
    color: whitesmoke;
    min-height: 70px;
    border-bottom: 3px solid white;
}

.routes{
    display: flex;
    align-items: center;
    gap:30px;
}
.navList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    
}
.homeIcon{
    font-size: 0.8em;
}
.navItem{
    cursor:pointer;
    padding: 3px;
    
}
.navItem a {
    text-decoration: none;
    color: whitesmoke;
    
}

.navItem:hover{
    border-radius: 10px;
    background-color: rgba(32, 32, 237, 0.53);
}
@media screen and (max-width: 760px) {
    .example-spacer {
        flex-wrap: wrap;
    }
}
