<mat-toolbar class="headerContainer">
  <div class="routes">
    <img
      src="file.png"
      alt=""
      srcset=""
      width="90"
      style="cursor: pointer"
      (click)="navigate()"
    />

    <span class="example-spacer">
      <a routerLink="/shopping" routerLinkActive="active" class="homeIcon"
        >Cars for sale
      </a>
      <a routerLink="/create" routerLinkActive="active" class="homeIcon"
        >Sell your car
      </a>
      <a routerLink="/contact" routerLinkActive="active" class="homeIcon"
        >Contact us
      </a>
    </span>
  </div>

  <nav>
    <ul class="navList">
      <li class="navItem">
        <a routerLink="/favorite" routerLinkActive="active" class="homeIcon"
          ><mat-icon
            aria-hidden="false"
            aria-label="heart icon"
            fontIcon="favorite"
          ></mat-icon>
        </a>
      </li>
      <li class="navItem">
        <a routerLink="/account/info" routerLinkActive="active" class="homeIcon"
          ><mat-icon
            aria-hidden="false"
            aria-label="account icon"
            fontIcon="account_circle"
          ></mat-icon>
        </a>
      </li>
    </ul>
  </nav>
</mat-toolbar>
