.filtersCont{
    width: 100%;
   display: flex;
   align-items: center;
}

.filters{
    
    top: 40%;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    margin: 30px;
    
}

.radio{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.radioBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.radioValue{
    color: white;
}
