@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

.mainContainer {
    color: #fff;
    width: 100%;    
    font-family: "Inter", "DM Sans", Arial, sans-serif;
}

header {
    margin-bottom: 0px;
}

.imgText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 1em;
  
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: auto;

}
.popularCont{
    width: 90%;
    display: flex;
    justify-content: center;
    box-shadow:1px 1px 7px #1869db, 0 0 5px #0e3e81, 0 0 5px #0e3e81;
}
img {
   width: 100%;
   height: 30%;
}
.buttonsCont{
    position: relative;
    
}
.buttons{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    bottom: 20px;
    right: 50px;
    width: 150px;
    height: 60px;
    background-color: rgba(67, 68, 70, 0.546);
}
.btn {
    color: white;

}

.btn2 {
    color: white;
}
.popular{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 5px;
}
.heading{
    text-shadow: 1px 1px 2px #1869db, 0 0 5px #0e3e81, 0 0 5px #5191ea;
}
.txt{
    position: absolute;
    padding: 20px 50px 20px 50px;
    top: 10%;
    left: 3%;
    .title{
        background-color: rgba(67, 68, 70, 0.546);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3.5em;
    }
}
.links{
    display: flex;
    justify-content: center;
    align-content:center;
    margin-top: 5px;
    font-size: 1em;
    a{
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        
        cursor: pointer;
        text-decoration: underline;
    }
}

.trending{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;   
}

.newsPart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 5px;

}
.newsCont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 60%;
    gap: 30px;
}

.newsLink{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.news{
   
    width: 100%;
    margin-bottom: 50px;
    
    a{
        position: relative;
        
        width: 100%;
        display: flex;
        img{
            cursor: pointer;
        };

        p{  
            cursor: pointer;
            text-align: center;
            position: absolute;
            bottom: 0px;
            /* background-color: rgba(67, 68, 70, 0.546); */
            color:#fff;
            font-size: 1.3em;
            width: 100%;
            /* height: 20%; */
        }
    };
}
